$relative : relative;
$bold : bold;

.company {
	position : $relative;
	left : 35px;
	font-weight : $bold;
}

#search {
	border-radius : 2em;
	text-align : center;
	outline : none;
}


#unfiltered {
	position : $relative;
	border-radius : 2em;
	background-image : linear-gradient(to right, #A9D0F5 35%, #0040FF );
	margin-top : 10px;
	margin-bottom : 10px;
}


#data {
	@extend .company;
	font-style : italic;
	opacity : .5;
}

#company {
	@extend .company;
	margin-top : 5px;
	left : 45px;
	background-color : red;
	opacity : .4;
	color : white;
}

#chartData {
	font-weight : $bold;
}

#chartdiv {
	height : 1000px;
	width : 1000px;
}

#miscData {
	margin-top : 20px;
	margin-bottom : 10px;
}

#selectElement {
	font-weight : $bold;
	background-color : #A4A4A4;
	font-size : 18px;
	color : #B40404;
}

#searchField {
	@extend #search;
}